@using TeleSpecialists.BLL.Extensions;
@{
    ViewBag.Title = "CounterMeasure";
}


<div class="row">
    <div class="col-md-12 text-center">
        <h3>Countermeasures</h3>
    </div>
</div>
<div class="row">
    <div id="CounterMeasureGrid">
    </div>
</div>
<div class="modal" id="countermeasureModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style=" max-width: 1000px; width: 1000px; ">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="countermeasuretable table-wrapper-scroll-y my-custom-scrollbar"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-link" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<style>
    .my-custom-scrollbar {
        position: relative;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
        max-height: 400px;
    }

        .table-wrapper-scroll-y thead th {
            position: sticky;
            top: 0px;
            background-color: white;
        }
</style>
<script type="text/javascript">
    
    function getCounterMeasures() {
        $("#CounterMeasureGrid").kendoGrid({
            excel: {
                allPages: true,
                filterable: false,
                fileName: '@ViewBag.Title' + '.xlsx',
                proxyURL: '@Url.Action("ExportToExcel")',
            },
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetCounterMeasure")',
                        contentType: "application/json",
                        type: "POST",
                        data: function () {
                            var model = {
                                Facilities: "",
                                System: "",
                                Regional: "",
                                States: "",
                                QPS: "",
                                qag_time_frame: "",
                                fromMonth: "",
                                toMonth: "",
                            };
                            var fac_keys = $("#Facilities").val();
                            if (fac_keys == "") {
                                model.Facilities = null;
                            } else {
                                model.Facilities = $("#Facilities").val();
                            }

                            var system = $("#fac_ucd_key_system").val();
                            if (system == "") {
                                model.System = null;
                            } else {
                                model.System = $("#fac_ucd_key_system").val();
                            }

                            var region = $("#fac_ucd_region_key").val();
                            if (region == "") {
                                model.Regional = null;
                            } else {
                                model.Regional = $("#fac_ucd_region_key").val();
                            }

                            var state = $("#fac_stt_key").val();
                            if (state == "") {
                                model.States = null;
                            } else {
                                model.States = $("#fac_stt_key").val();
                            }

                            var qps = $("#facilityQPS").val();
                            if (qps == "" || qps == "0" || qps == undefined) {
                                model.QPS = null;
                            } else {
                                model.QPS = $("#facilityQPS").val();
                            }
                            var YearFromDate = $("#FromMonth").val();
                            if (YearFromDate) {
                                var year = YearFromDate.split(" ");
                                var timeframe = year[1];
                                if (timeframe) {
                                    model.qag_time_frame = timeframe + '-1-1';
                                }
                            }
                            model.fromMonth = $("#FromMonth").val();
                            model.toMonth = $("#ToMonth").val();
                            localStorage.setItem('QualityMetricsReport.Filter', JSON.stringify(model));
                            return model;
                        },
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        return kendo.stringify(options);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                //serverPaging: true,
                //serverFiltering: true,
                //serverSorting: true,
                //pageSize: GetKendoPageSize("QualityReport", "RecPerPage", true),
                //page: KendoGet("QualityReport", "page")
                serverPaging: true,
                pageSize: 50,
                serverFiltering: false,
                serverSorting: true,
            },
            width: '100%',
            pageable: {
                refresh: true,
                //pageSizes: true,
                //pageSize: 10
                pageSizes: [50, 100, 150, 200, 300, 500, 'All']
            },
            groupable: false,
            filterable: true,
            sortable: true,
            resizable: true,
            dataBound: function (e) {

                $("#kendoDataGrid .k-auto-scrollable").scrollLeft(0);
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
            },
            columns: [
                {
                    title: "<b>Countermeasures</b>", width: '80px',
                    template: "<input type='button' class='btn btn-dark btn-sm' data-id='#= cas_key#' onclick='showCounterMeasure.call(this)' value='Countermeasures' />"
                },
                {
                    title: "Case Number", width: '80px',
                    template: "<strong>#= casenumber#</strong>"
                }
            ]
        });
    }
    var showCounterMeasure = function () {
        var cas_key = $(this).data("id");
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/FacilityPI/GetCounterMeasureModal',
            data: { cas_key: cas_key },
            success: function (data) {
                var ArrFinal = [];
                $.each(data, function (key, value) {
                    ArrFinal.push({ Id: value.rca_rootcause_id, RootCause: value.rca_root_cause, ProposedCountermeasure: value.rca_proposed_countermeasure, ResponsibleParty: value.rca_responsible_party, ProposedDueDate: value.rca_proposed_due_date, CompletedDate: value.rca_completed_date, RootId: value.rca_Id })
                });
                var html = '';
                html += '<table class="table table-bordered table-hover table-striped mb-0">';
                html += '<thead>';
                html += '<tr>';
                html += '<th>Root Cause</th>';
                html += '<th>Countermeasure(s)</th>';
                html += '<th>Responsible Party</th>';
                html += '<th>Proposed Due Date</th>';
                html += '<th>Completed Date</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                $.each(ArrFinal, function (key, value) {
                    html += '<tr>';
                    html += '<td><p>' + value.RootCause + '</p></td>';
                    html += '<td><p>' + value.ProposedCountermeasure + '</p></td>';
                    html += '<td><p>' + value.ResponsibleParty + '</p></td>';
                    html += '<td><p>' + value.ProposedDueDate + '</p></td>';
                    html += '<td><p>' + value.CompletedDate + '</p></td>';
                    html += '</tr>';
                });
                html += ' </tbody>';
                html += '</table>';
                $(".countermeasuretable").empty();
                $(".countermeasuretable").append(html);
                $("#countermeasureModal").modal('show');
            },
            error: function () {

            }
        });
    }
</script>



