@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL;
@using System;
@model TeleSpecialists.BLL.Model.@case

<div id="toolTipReject">
    <div id="popupModelCaseRejection" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card-header pl-1 font-weight-bold" style="background-color:black">
                        <h5><span style="color:white" class="font-weight-bold">Case Rejection Reason</span></h5>
                    </div>
                    <div class="form-group row" style="margin-top:20px;">
                        <div class="col-md-12">
                            <label class="control-label">Rejection Type:</label>
                        </div>
                        <div class="col-md-12">
                            <select id="cas_rejection_type" name="cas_rejection_type" class='form-control'></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="control-label">Rejection Reason:</label>
                        </div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.cas_rejection_text, new { @class = "form-control", @id = "cas_rejection_text" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="SaveCaseReject" class="btn btn-default" style="color:white;background-color:black">Save</button>
                    <button type="button" class="btn btn-default" style="color:white;background-color:black" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#cas_rejection_type").fillKendoDropDown("/Case/GetRejectionReasons", "Text", "Value", "-- Select --");
    });
</script>

