<div id="divCaseCopy" style="display:none;"></div>

<div class="modal" id="caseCopyPopUp">
    <div class="modal-dialog">

        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Copy Preview</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <textarea id="txtAreaCopy" style="display:none"></textarea>
            <!-- Modal body -->
            <div class="modal-body">
                Test
            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-block">                   
                        <div class="form-control-static pull-left">
                            <a class="btn btn-link  p-0 m-0" href="javascript:;" onclick="copyCase();">Refresh</a>
                        </div>
                        <div class="form-control-static pull-right">
                            <input type="button" class="btn btn-dark" value="OK" data-dismiss="modal" id="btnCopyOK"/>
                        </div>
                        
            </div>

        </div>

    </div>
</div>