<div class="modal" data-backdrop="static" data-keyboard="false" id="edMainCallModel">


    <div class="modal-dialog modal-md">
        <form id="frmSaveSnoozeOption" method="post">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="table-responsive">

                                <!--Table-->
                                <table class="table table-borderles" style="
    /* border: none; */
">

                                    <!--Table head-->
                                    <thead style="
    border-top: none;
">
                                        <tr>
                                            <th class="th-lg" style="
    border-top: none;
">Phone Number</th>
                                            <th class="th-lg" style="
    border-top: none;
"></th>
                                        </tr>
                                    </thead>
                                    <tbody style="display:none" id="template">
                                        <tr>
                                            <td>(111) 111-1111</td>
                                            <td> <a href="#" class="edMainCallLink"> Call</a></td>
                                        </tr>
                                    </tbody>

                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody id="tableBody">                                      
                                    </tbody>
                                    <!--Table body-->

                                </table>
                                <!--Table-->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>


        </form>
    </div>

</div>


