@*@model List<TeleSpecialists.BLL.Model.case_assign_history>*@

<div class="modal-dialog modal-lg" id="inbound-call">
    <div class="modal-content">
        <div>
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Inbound call</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
               load data here.....

            </div>

        </div>
    </div>
</div>