<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=10.10.10.2; Database=Condado_TeleSpecialists; User Id=AmirJ; Password=@AmirJ%123#$;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SignalRAuthKey" value="dGVsZWNhcmUtYXBpLXVzZXIwMTpOYXRpb25hbCQwOj1wJF51M143aCNwNz0kaEA2emln" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Signal R and WebSocket Keys-->
    <!-- 0: Disabled,  1: Signal R, 2: WebSocket-->
    <add key="RPCMode" value="2" />
    <add key="RapidsDirectory" value="D:\DevOps\TeleSpecialists\Code\TeleSpecialists.Web\RapidsAttachments\" />

    <add key="SleepInterval" value="10" />
    <add key="SupportEmails" value="atta.h@allshoreresources.com,adnan.k@allshoreresources.com" />
    <add key="TeleCARESupport" value="support@telecare.condadocloud.net" />
    <add key="TeleCAREWebsite" value="https://localhost:44349/" />


    <add key="TeleCareUserName" value="SuperAdmin" />
    <add key="TeleCarePassword" value="National$0" />
    <add key="ServiceMode" value="mdstaffimport" />
    <add key="EnableDetailedLogs" value="1" />

    <add key="SMSEnabled" value="0" />
    <add key="SMSServerKey" value="8" />
    <add key="SMSCompanyKey" value="9060" />
    <add key="SMSServiceKey" value="9060" />
    <add key="SMSServiceAddress" value="https://monitor.condadocloud.net/Notification/Submit" />
    <add key="SMSApplicationName" value="PhysicianStatusMover (Dev)" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>