@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-horizontal" role="form">
    <div class="row">
        <div class="col-sm-2 offset-sm-2">
            <img src="~/Content/images/access-denied.png" alt="access-denied" />
        </div>
        <div class="col-sm-8">
            <h2>Access Denied</h2>
            <h4>You do not have access to the requested page.</h4>
        </div>
    </div>
</div>
