@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
}

<div class="row">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
<div class="row">
    <p>
        <br />
        <a href="@Url.Action("Login")" class="btn btn-primary">Back to Login</a>
    </p>
</div>
