@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL;
@using TeleSpecialists.Models;
@using Microsoft.AspNet.Identity;
@{
    var loggedInUser = ViewBag.loggedInUser as ApplicationUser;
}

<input type="hidden" id="IsCredentialingTeamorSuperAdmin" value="@(User.IsInRole(UserRoles.SuperAdmin.ToDescription()) || User.IsInRole(UserRoles.CredentialingTeam.ToDescription()) || User.IsInRole(UserRoles.MedicalStaff.ToDescription()) ? 1 : 0)" />
<div class="row mt-3">
    <div class="col-sm-4 col-xl-4 col-lg-4 col-md-4">
        @Html.DropDownList("Facilities", ViewBag.Facility as List<SelectListItem>, new { @class = "form-control Facilities", @multiple = "multiple" })
    </div>
    <div class="col-sm-4 col-xl-4 col-lg-4 col-md-4">
        @Html.DropDownList("Physicians", ViewBag.physicianss as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple" })
    </div>
    <div class="col-sm-4 col-xl-4 col-lg-4 col-md-4">
        <input type="button" id="btnSearchbyfacility" class="btn btn-dark" value="Search" autocomplete="off">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xl-12 col-lg-12 col-md-12">
        <div id="Credentials-Expiring-container">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#Credentials-Expiring-container").addClass("d-none");
        if ($("#IsCredentialingTeamorSuperAdmin").val() == "1") {
            $("#Credentials-Expiring-container").removeClass("d-none");
            var Facilities = $("#Facilities").val();
            var Physicians = $("#Physicians").val();
            refreshCredentialsExpiringCaseList(Facilities, Physicians);
        }
        $('.Facilities').multiselect({
            columns: 1,
            placeholder: 'Select Facility',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Facility'
            }
        });
        $('#Physicians').multiselect({
            columns: 1,
            placeholder: 'Select Physician',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Physician'
            }
        });
    })
    $("#btnSearchbyfacility").off('click').click(function () {
        var Facilities = $("#Facilities").val();
        var Physicians = $("#Physicians").val();
        refreshCredentialsExpiringCaseList(Facilities, Physicians);
    })
    function LoadCredentialsExpiringCaseList() {
        if (refreshCredentialsExpiringCaseList.loadTimeout != undefined)
            window.clearTimeout(refreshCredentialsExpiringCaseList.loadTimeout);

        refreshCredentialsExpiringCaseList.loadTimeout = window.setTimeout(function () { refreshCredentialsExpiringCaseList() }, 5000);
    }

    function refreshCredentialsExpiringCaseList(Facilities, Physicians) {
        $("#Credentials-Expiring-container").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetCredentialsExpiringCasesList", "Reports")',
                        contentType: "application/json",
                        type: "POST",
                        data: { Facilities: Facilities, Physicians: Physicians },
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        return kendo.stringify(options);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                page: KendoGet("_CredentialsExpiringCasesList", "page"),
                pageSize: GetKendoPageSize("_CredentialsExpiringCasesList", "RecPerPage", true),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            dataBound: function (e) {

                $("#Credentials-Expiring-container .k-auto-scrollable").scrollLeft(0);
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
                //LoadCredentialsExpiringCaseList();
            },
            width: '100%',
            groupable: false,
            filterable: true,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: [10, 15, 20, 30, 50, 'All'],
                buttonCount: 5
            },
            columns: [
                {
                    title: "<span class='font-weight-bold' style='font-size: larger;'>Credentials Expiring</span>",
                    columns: [
                        { hidden: true, field: "Fac_Key" },
                        { field: "FacilityName", width: 250, title: "Facility" },
                        { field: "PhysicianName", width: 185, title: "Physician" },
                        { field: "EndDate", width: 185, /*template: "#= kendo.toString(kendo.parseDate(EndDate, 'MM-dd-yyyy'), 'MM-dd-yyyy') #",*/ title: "End Date" },
                    ]
                }]
        });
    }

</script>
