<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="FreeSpire.Doc" version="7.1.13" targetFramework="net472" />
  <package id="Kendo.DynamicLinq" version="1.1.2.0" targetFramework="net472" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="3.0.0" targetFramework="net472" />
  <package id="TimeZoneNames" version="4.0.0" targetFramework="net472" />
</packages>