@{
    ViewBag.Title = "Error Console";    
}

<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-body">
                <iframe id="iframeError" width="100%" height="800" frameborder="0" src="@Url.Content("~/elmah.axd")"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = $("#title-prefix").val() + '@ViewBag.Title';
    });
</script>
