<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=10.10.10.2; Database=Condado_TeleSpecialists; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TeleSpecialistsContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ds-development;initial catalog=Condado_TeleSpecialists;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SignalRAuthKey" value="dGVsZWNhcmUtYXBpLXVzZXIwMTpOYXRpb25hbCQwOj1wJF51M143aCNwNz0kaEA2emln" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Signal R and WebSocket Keys-->
    <!-- 0: Disabled,  1: Signal R, 2: WebSocket-->
    <add key="RPCMode" value="2" />
    <add key="RapidsDirectory" value="D:\DevOps\TeleSpecialists\Code\TeleSpecialists.Web\RapidsAttachments\" />
    <add key="Five9URL" value="https://api.five9.com/web2campaign/AddToList?F9domain=" />

    <add key="SleepInterval" value="10" />
    <add key="SupportEmails" value="atta.h@allshoreresources.com,adnan.k@allshoreresources.com" />
    <add key="TeleCARESupport" value="support@telecare.condadocloud.net" />
    <add key="TeleCAREWebsite" value="https://localhost:44349/" />
    <add key="Five9URL" value="https://api.five9.com/web2campaign/AddToList?F9domain=" />


    <add key="TeleCareUserName" value="SuperAdmin" />
    <add key="TeleCarePassword" value="National$0" />
    <add key="ServiceMode" value="mdstaffimport" />
    <add key="EnableDetailedLogs" value="1" />

    <add key="SMSEnabled" value="0" />
    <add key="SMSServerKey" value="8" />
    <add key="SMSCompanyKey" value="9060" />
    <add key="SMSServiceKey" value="9060" />
    <add key="SMSServiceAddress" value="https://monitor.condadocloud.net/Notification/Submit" />
    <add key="SMSApplicationName" value="eAlert Processor" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@telecare.condadocloud.net">
        <network host="smtp.sendgrid.net" userName="rpusateri" password="National$0" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>