
<div style="font-family:'Open Sans', sans-serif; font-size:13px;">
    <div>
        <img src="https://strokealert911.com/Content/images/logo-header.png" alt="TELESPECIALISTS" />
    </div>
    <div style="padding-top:30px; font-size:14px;">
        <b>TeleSpecialists TeleNeurology Consult Services </b>
    </div>

    {StampDate}

    <div style="padding-top:30px;">
        <b>Date of Service:</b>&nbsp;&nbsp;&nbsp;<span></span>
    </div>


    <div style="padding-top:10px;">
        <div><b>Impression:</b></div>
        <div>{AcuteIschemicStrokeOptions}</div>
    </div>

    <div style="padding-top:10px;">
        <div><b>Mechanism of Stroke:</b></div>
        <div>{MechanismofStrokeOptions}</div>
    </div>

    <div style="padding-top:10px;">
        <div><b>Metrics:</b></div>
        <div>{CaseMetrics}</div>
    </div>

    <div style="padding-top:10px;">
        <div><b>Verbal Consent to tPA:</b></div>
        <div>{VerbalConsentSelectedOption}</div>
    </div>

    <div style="padding-top:10px;">
        <div><b>Recommendations:</b></div>
    </div>

    <div style="padding-top:10px;">IV tPA recommended.</div>
    <div style="padding-top:10px;">tPA bolus given {tpABolusGiven}</div>
    <div style="padding-top:10px;">{tpABolusGivenText}</div>
    <div style="padding-top:10px;">{tPADosageFigures}</div>

    <p>
        Routine post tPA monitoring including neuro checks and blood pressure control during/after treatment
        Monitor blood pressure
        Check blood pressure and NIHSS every 15 min for 2 h, then every 30 min for 6 h, and finally every hour for 16 h
    </p>
    <p>
        Manage Blood Pressure per post tPA protocol.
    </p>

    <p>
        <ul>
            <li>Admission to ICU</li>
            <li>CT brain 24 hours post tPA</li>
            <li>NPO until swallowing screen performed and passed</li>
            <li>No antiplatelet agents or anticoagulants (including heparin for DVT prophylaxis) in first 24 hours</li>
            <li>No Foley catheter, nasogastric tube, arterial catheter or central venous catheter for 24 hr, unless abssolutely necessary</li>
            <li>Telemetry</li>
            <li>Bedside swallow evaluation</li>
            <li>HOB less than 30 degrees</li>
            <li>IV Fluid hydration</li>
            <li>Euglycemia</li>
            <li>Avoid hyperthermia, PRN acetaminophen</li>
            <li>DVT prophylaxis</li>
            <li>Inpatient Neurology Consultation</li>
            <li>Stroke evaluation as per inpatient neurology recommendations</li>
        </ul>

        Discussed with ED physician


    </p>
    <p>
        Dr {PhysicianName}
    </p>
    <div>
        TeleSpecialists<br /><br /><br />
        ------------------------------------------------------------------------------
    </div>
    <div style="padding-top:60px;">
        <b> History of Present Illness:</b>
    </div>

    <div style="padding-top:10px;">
        <div>
            Patient is a {PatientAgeInYears} year old {PatientGender} who presents with symptoms of {IllnessSymptoms}
        </div>
        <div>
            {IllnessHisotry}
        </div>
    </div>

    <div style="padding-top:30px;">
        <div><b>Examination:</b></div>
        <div>
            <b>BP (</b>{PatientBP}<b>) , Pulse (</b>{PatientPulse}<b>)</b>
        </div>
    </div>

    <div style="padding-top:30px;">
        <b>Assessments:</b>
        <div>{NIHSSAssessmentsData}</div>
    </div>

    <div style="padding-top:30px;">
        <b>NIHSS Score: </b>
        <div>{NIHSSScore}</div>
    </div>

    <p>
        Patient was informed the Neurology Consult would happen via TeleHealth consult by way of interactive audio and video telecommunications and consented to receiving care in this manner.
    </p>
    <p>
        Due to the immediate potential for life-threatening deterioration due to underlying acute neurologic illness, I spent 35 minutes providing critical care. This time includes time for face to face visit via telemedicine, review of medical records, imaging studies and discussion of findings with providers, the patient and/or family.
    </p>
</div>
