<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TeleSpecialistsContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ds-development;initial catalog=Condado_TeleSpecialists;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Server= ds-development; Database= Condado_TeleSpecialists; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="SleepInterval" value="10"/>
    <add key="SupportEmails" value="atta.h@allshoreresources.com,adnan.k@allshoreresources.com"/>


    <add key="TeleCARESupport" value="support@telecare.condadocloud.net"/>
    <add key="TeleCAREWebsite" value="http://telecare.condadocloud.net/"/>

    <add key="SMSEnabled" value="0"/>
    <add key="SMSServiceKey" value="9060"/>
    <add key="SMSCompanyKey" value="9060"/>
    <add key="SMSServiceAddress" value="https://monitor.condadocloud.net/Notification/Submit"/>
    <add key="SMSApplicationName" value="PhysicianStatusMover (Dev)"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@telecare.condadocloud.net">
        <network host="smtp.sendgrid.net" userName="rpusateri" password="National$0" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>