<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server= ds-development; Database= Condado_TeleSpecialists; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TeleSpecialistsContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ds-development;initial catalog=Condado_TeleSpecialists;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SleepInterval" value="10" />
    <add key="SupportEmails" value="atta.h@allshoreresources.com,adnan.k@allshoreresources.com" />
    <add key="TeleCARESupport" value="support@telecare.condadocloud.net" />
    <add key="TeleCAREWebsite" value="http://telecare.condadocloud.net/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="SleepInterval" value="10" />
    <add key="SupportEmails" value="atta.h@allshoreresources.com,adnan.k@allshoreresources.com" />
    <add key="TeleCARESupport" value="support@telecare.condadocloud.net" />
    <add key="TeleCAREWebsite" value="http://dev-telecare.condadocloud.net" />
    <add key="TeleCareUserName" value="SuperAdmin" />
    <add key="TeleCarePassword" value="National$0" />
    <add key="EnableDetailedLogs" value="0" />

    
    <add key="SMSEnabled" value="0" />
    <add key="SMSServiceKey" value="9060" />
    <add key="SMSCompanyKey" value="9060" />
    <add key="SMSServiceAddress" value="https://monitor.condadocloud.net/Notification/Submit" />
    <add key="SMSApplicationName" value="PhysicianStatusMover (Dev)" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@telecare.condadocloud.net">
        <network host="smtp.sendgrid.net" userName="rpusateri" password="National$0" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.ServiceModel.DisableUsingServicePointManagerSecurityProtocols=false;Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>