
@{
    ViewBag.Title = "Case Rejection Reason ";
}


<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-dark loadLinkAsync" href="@Url.Action("CreateReason")">Add Case Rejection Reason </a>
    </div>
</div>

<div class="pt-1 customGridHeader">
    <div id="kendoDataGrid">
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
            document.title = $("#title-prefix").val() + '@ViewBag.Title';
            $("#kendoDataGrid").kendoGrid({
                dataSource: {
                    page: KendoGet("casereject", "page"),
                    transport: {
                        read: {
                            url: '@Url.Action("GetAllReasons")',
                            contentType: "application/json",
                            type: "POST"
                        },
                        parameterMap: function (options) {
                            options = KendoKeepState("casereject", options, true);

                            if (options.filter !== undefined && options.filter.filters !== undefined) {
                                $("#searchBox").val(options.filter.filters[0].value);
                                $("#resetSearch").show();
                            }

                            return kendo.stringify(options);
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                    },
                    pageSize: GetKendoPageSize("casereject", "RecPerPage", true),
                    serverPaging: true,
                    serverFiltering: false,
                    serverSorting: false
                },
                filterable: false,
                sortable: false,
                scrollable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                dataBound: function (e) {
                    //get All records
                    SetKendoTotalCount("casereject", $('#kendoDataGrid').data("kendoGrid").dataSource.total());
                    // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                    $('[data-role="dropdownlist"]').each(function () {
                        var kendoDropDown = $(this).data("kendoDropDownList");
                        if (kendoDropDown)
                            kendoDropDown.bind("open", onDropdDownOpen);
                    });
                },
                columns: [
                    { hidden: true, field: "crr_key" },
                    { field: "crr_parent_reason", title: "Reason", width: '120px' },
                    { field: "crr_sub_reason", title: "Sub Reason", width: '120px' },
                    {
                        field: "crr_troubleshoot", title: "Troubleshoot", width: '120px',
                        template: '<input type="checkbox" #= crr_troubleshoot ? "checked=checked" : "" # disabled="disabled" ></input>'
                    },
                    { field: "crr_users", title: "Users", width: '120px' },
                    {
                        title: "Actions", width: '40px',
                        template: "<a class='btn btn-dark btn-sm py-1 loadLinkAsync' title='Edit' href='@Url.Action("EditReason")/\#= crr_key#'>Edit</a>"
                    }
                ]
            });

        });


</script>


