<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--Live Local-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost; Database=dbTeleSpecialistsDev; Integrated Security=True; Connection Timeout=200" providerName="System.Data.SqlClient" />
    <add name="TeleSpecialistsContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=dbTeleSpecialistsDev;integrated security=True; Connection Timeout=200; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--NetSpartker-->
    <add name="defaultconnection" connectionString="server=telespecialists-demo.database.windows.net; database=dbTeleSpecialists-netsparker; user id=srvradmin; password=H@wkL0gix123456789;" providerName="system.data.sqlclient" />
    <add name="telespecialistscontext" connectionString="metadata=res://*/model.datamodel.csdl|res://*/model.datamodel.ssdl|res://*/model.datamodel.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=telespecialists-demo.database.windows.net; database=dbTeleSpecialists-netsparker; user id=srvradmin; password=H@wkL0gix123456789;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />

    <!--Production-->
    <!--<add name="DefaultConnection" connectionString="Server=telespecialists.database.windows.net; Database=dbTeleSpecialistsPrd; User Id=telecareSpecialistsApplication; Password=82x8543589n43t593nxt4yx3t9y3n43c43c$;" providerName="System.Data.SqlClient" />
    <add name="TeleSpecialistsContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=telespecialists.database.windows.net; Database=dbTeleSpecialistsPrd; User Id=telecareSpecialistsApplication; Password=82x8543589n43t593nxt4yx3t9y3n43c43c$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <!--Local-->
    <!--<add key="AccountSid" value="AC6f437e8c23485fa066b6c5032bde8c69" />
    <add key="AuthKey" value="0ef8545398cae12850054ad0fc1fabd8" />
    <add key="FromPhone" value="+12058439551" />   
    <add key="ToPhone" value="+923336791346;+923224455299;+923227656577" />
    <add key="ToPhone" value="+923336791346" />
    <add key="EnableDetailedLogs" value="0" />
    <add key="isServiceEnabled" value="true" />-->

    <!--Production-->
    <add key="AccountSid" value="ACf827029066430d42150d622fe0cea6d0"/>
    <add key="AuthKey" value="e1b2e3aa3cde828fce6c32be6e269a06"/>
    <add key="FromPhone" value="+12315997911"/>
    <add key="ToPhone" value="+923336791346"/>
    <!--<add key="ToPhone" value="+12393229203;+12022030233;+16145511330;+17039436982;+18652478238"/>-->
    <add key="EnableDetailedLogs" value="1" />
     <add key="isServiceEnabled" value="true" />


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>